
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#121212] text-white;
}

::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
